<p style="color: green"><%= notice %></p>

<%= render @film %>
<h4> Autores: </h4>
<% @film.authors.each do |author| %>
      <p> <%= author.name %> </p>
<% end %>
<h4> Comentário: </h4>
<% @film.comments.each do |comment| %>
  <% if comment.status == true %>
      <p> <%= comment.description %> </p>
      <p>__________________________________<p>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this film", edit_film_path(@film) %> |
  <%= link_to "Back to films", films_path %> 
  <%= button_to "Destroy this film", @film, method: :delete %>
</div>
